<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Nodejs</title>
</head>
<body style="background: linear-gradient(90deg, rgba(0,0,0,1) 14%, rgba(22,35,71,1) 55%, rgba(38,45,62,1) 100%); padding: 0px; margin: 0px;">
    <div style="
    display: flex;
    justify-content: center;
    color: #FFF;
    font-size: 25px;
    font-weight: bold;
    font-style: italic;
    box-shadow: 10px 11px 6px rgb(9 0 0 / 23%), 0px 20px 32px rgb(0 0 7 / 43%)">
    
    <h1>Sou o view do nodejs sem front end, hehe!</h1>
    </div>
    <div class="card" style="
    position: relative;
    left: 335px;
    margin-top: 5em;
    margin-bottom: 5em;
    width: 52em;
    height: 26em;
    background: #FFFF;     
    border-radius: 9px;
    box-shadow: 0px 0px 10px #ffffff, 0px 0px 0px rgb(187 187 181 / 0%);">

        <ul>
            <h2 style="display: flex;
            justify-content: center;
            font-size: 34px;
            font-weight: 900;
            color: #212157;">
            
                Neste pequeno exercício aprendemos:
            </h2>

            <li style="font-size: 23px;font-family: monospace;margin-bottom: 21px;">Importar e declarar o express</li>
            <li style="font-size: 23px;font-family: monospace;margin-bottom: 21px;">Setar a porta</li>
            <li style="font-size: 23px;font-family: monospace;margin-bottom: 21px;">Declarar as rotas</li>
            <li style="font-size: 23px;font-family: monospace;margin-bottom: 21px;">Fazer rota com 'query params'</li>
            <li style="font-size: 23px;font-family: monospace;margin-bottom: 21px;">Instalar o 'EJS' que é um modo de trazer o HTML para o backend, afim de testes mais simples e visuais</li>
            <li style="font-size: 23px;font-family: monospace;margin-bottom: 21px;">Declarar uma rota e trazer nela um Json!</li>
        </ul>
    </div>
</body>
</html>